.timeline {
  overflow-x: scroll;
  margin: 20px 0;
  width: auto;
}

.timeline__lane {
  display: flex;
  position: relative;
  gap: 10px;
  max-width: fit-content;
  margin-bottom: 10px;
}

.timeline__item {
  min-width: min-content;
  padding: 12px 15px;
  box-sizing: content-box;
  border-radius: 4px;
  height: 140px;
}

.timeline__item h4 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.timeline__item p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}